{% comment %}
For some reason, the relative_root_path seems out of scope in this file, so we
need to re-assign it here
{% endcomment %}

{% include base_path.html %}

{% comment %}
  Navigation bar for an episode.
{% endcomment %}

<div class="row">
  <div class="col-xs-1">
    <h3 class="text-left">
      {% assign prev_epi = "NONE" %}
      {% assign prev_url = false %}
      {% assign prev = false %}
      {% for epi in site.contents.episodes %}
        {% if epi == page.slug %}
          {% if prev_epi %}
            {% assign prev_epi = prev %}
          {% endif %}
          {% break %}
        {% else %}
          {% assign prev = epi %}
        {% endif %}
      {% endfor %}
      {% for episode in site.episodes %}
        {% if prev_epi == episode.slug %}
          {% assign prev_url = episode.url %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if prev_url %}
      <a href="{{ relative_root_path }}{{ prev_url }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><span class="sr-only">previous episode</span></a>
      {% else %}
      <a href="{{ relative_root_path }}/"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><span class="sr-only">lesson home</span></a>
      {% endif %}
    </h3>
  </div>
  <div class="col-xs-10">
    {% if include.episode_navbar_title %}
    <h3 class="maintitle"><a href="{{ relative_root_path }}/">{{ site.title }}</a></h3>
    {% endif %}
  </div>
  <div class="col-xs-1">
    <h3 class="text-right">
      {% assign next_epi = "NONE" %}
      {% assign next_url = false %}
      {% assign next = false %}
      {% for epi in site.contents.episodes %}
        {% if next %}
          {% assign next_epi = epi %}
          {% break %}
        {% elsif epi == page.slug %}
          {% assign next = true %}
        {% endif %}
      {% endfor %}
      {% for episode in site.episodes %}
        {% if next_epi == episode.slug %}
          {% assign next_url = episode.url %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if next_url %}
      <a href="{{ relative_root_path }}{{ next_url }}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><span class="sr-only">next episode</span></a>
      {% else %}
      <a href="{{ relative_root_path }}/"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><span class="sr-only">lesson home</span></a>
      {% endif %}
    </h3>
  </div>
</div>
